body {
  padding-top: 50px;
}
.elos-template {
  padding: 40px 15px;
  /* text-align: center; */
}
 h1,
 .lead {
    text-align: center;
 }


/*
* {
         font-family: "Andika", "Charis SIL", "Gentium Plus", "Noto Sans", sans-serif;
}
*/


       /* Style the text area */

       textarea {
         width: 100%;
         height: 150px;
         font-family: "Andika", "Charis SIL", "Gentium Plus", sans-serif;
         font-size: 24px;
       }

       /* Style the on screen keyboard */

       body .desktop .kmw-osk-inner-frame {
         background: white;
         border: solid 1px #404040;
         padding-bottom: 2px;
         padding-top: 8px;
       }

       body .desktop .kmw-title-bar,
       body .desktop .kmw-footer {
         display: none;
       }

       body .desktop .kmw-key-square {
         border-radius: 2px;
         padding-bottom: 8px;
       }

       body .desktop .kmw-key {
         border-radius: 2px;
         border: solid 1px #404040;
         background: #f2f4f6;
       }

       body .desktop .kmw-key:hover {
         background: #c0c8cf;
       }
      /* .kmw-key-text {
           font-family: "Andika", "Charis SIL", "Gentium Plus", sans-serif;
       } */
       .kmw-key-label {
           display:none;
       }

/* Site rules */
.glyph {
    font-size: 1.5em;
}

.kbdimage {
    padding-top: 20px;
    text-align: center;
}

.elos {
    background-color: #446e9b;
    text-align:center;
    padding: 9px 0;
    margin-bottom:20px;
}

.readmore {
    text-align: right;
}

#kbdhelp {
    padding-bottom: 5px;
}
